In [1]:
import pandas as pd

In [2]:
fortune = pd.read_csv("data/fortune1000.csv")

In [3]:
fortune.head()

,Rank,Company,Sector,Industry,Location,Revenue,Profits,Employees
0,1,Walmart,Retailing,General Merchandisers,"Bentonville, AR",482130,14694,2300000
1,2,Exxon Mobil,Energy,Petroleum Refining,"Irving, TX",246204,16150,75600
2,3,Apple,Technology,"Computers, Office Equipment","Cupertino, CA",233715,53394,110000
3,4,Berkshire Hathaway,Financials,Insurance: Property and Casualty (Stock),"Omaha, NE",210821,24083,331000
4,5,McKesson,Health Care,Wholesalers: Health Care,"San Francisco, CA",181241,1476,70400

In [4]:
fortune.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
Rank         1000 non-null int64
Company      1000 non-null object
Sector       1000 non-null object
Industry     1000 non-null object
Location     1000 non-null object
Revenue      1000 non-null int64
Profits      1000 non-null int64
Employees    1000 non-null int64
dtypes: int64(4), object(4)
memory usage: 62.6+ KB

In [25]:
fortune.groupby(["Sector"]).agg({"Revenue":"sum","Profits":"sum","Employees":"sum"}).\
sort_values("Employees",ascending=False)

                              Revenue  Profits  Employees
Sector
Retailing                     1465076    47830    6227629
Technology                    1377600   180473    3578949
Financials                    2217159   260209    3359948
Health Care                   1614707   106114    2678289
Hotels, Resturants & Leisure   169546    20697    2484245
Industrials                    497581    20764    1545229
Transportation                 408508    44169    1536793
Food and Drug Stores           483769    16759    1395398
Business Services              272195    28227    1361050
Food, Beverages & Tobacco      555967    51417    1211632
Energy                        1517809   -73447    1188927
Motor Vehicles & Parts         482540    25898    1082560
Aerospace & Defense            357940    28742     968057
Telecommunications             461834    48637     832468
Household Products             234737    14428     646038
Materials                      259145     4428     638123
Media                          220764    24347     550314
Wholesalers                    444800     8233     525597
Chemicals                      243897    22628     463651
Engineering & Construction     153983     5304     406708
Apparel                         95968     8236     346397

In [15]:
sectors = fortune.groupby("Sector")

In [16]:
sectors.size()

Sector
Aerospace & Defense              20
Apparel                          15
Business Services                51
Chemicals                        30
Energy                          122
Engineering & Construction       26
Financials                      139
Food and Drug Stores             15
Food, Beverages & Tobacco        43
Health Care                      75
Hotels, Resturants & Leisure     25
Household Products               28
Industrials                      46
Materials                        43
Media                            25
Motor Vehicles & Parts           24
Retailing                        80
Technology                      102
Telecommunications               15
Transportation                   36
Wholesalers                      40
dtype: int64

In [27]:
# gets furst value from all sectors, similarly last()
sectors.first()

,Rank,Company,Industry,Location,Revenue,Profits,Employees
Sector,,,,,,,
Aerospace & Defense,24,Boeing,Aerospace and Defense,"Chicago, IL",96114,5176,161400
Apparel,91,Nike,Apparel,"Beaverton, OR",30601,3273,62600
Business Services,144,ManpowerGroup,Temporary Help,"Milwaukee, WI",19330,419,27000
Chemicals,56,Dow Chemical,Chemicals,"Midland, MI",48778,7685,49495
Energy,2,Exxon Mobil,Petroleum Refining,"Irving, TX",246204,16150,75600
Engineering & Construction,155,Fluor,"Engineering, Construction","Irving, TX",18114,413,38758
Financials,4,Berkshire Hathaway,Insurance: Property and Casualty (Stock),"Omaha, NE",210821,24083,331000
Food and Drug Stores,7,CVS Health,Food and Drug Stores,"Woonsocket, RI",153290,5237,199000
"Food, Beverages & Tobacco",41,Archer Daniels Midland,Food Production,"Chicago, IL",67702,1849,32300
Health Care,5,McKesson,Wholesalers: Health Care,"San Francisco, CA",181241,1476,70400
"Hotels, Resturants & Leisure",109,McDonald’s,Food Services,"Oak Brook, IL",25413,4529,420000
Household Products,34,Procter & Gamble,Household and Personal Products,"Cincinnati, OH",78756,7036,110000
Industrials,11,General Electric,Industrial Machinery,"Fairfield, CT",140389,-6126,333000
Materials,126,Alcoa,Metals,"New York, NY",22534,-322,60000
Media,53,Disney,Entertainment,"Burbank, CA",52465,8382,185000
Motor Vehicles & Parts,8,General Motors,Motor Vehicles and Parts,"Detroit, MI",152356,9687,215000
Retailing,1,Walmart,General Merchandisers,"Bentonville, AR",482130,14694,2300000
Technology,3,Apple,"Computers, Office Equipment","Cupertino, CA",233715,53394,110000
Telecommunications,10,AT&T,Telecommunications,"Dallas, TX",146801,13345,281450
Transportation,48,UPS,"Mail, Package, and Freight Delivery","Atlanta, GA",58363,4844,341240
Wholesalers,57,Sysco,Wholesalers: Food and Grocery,"Houston, TX",48681,687,51700

In [29]:
sectors.groups

{'Aerospace & Defense': Int64Index([ 23,  44,  59,  87, 117, 119, 208, 244, 281, 377, 388, 489, 559,
             604, 784, 787, 835, 902, 957, 986],
            dtype='int64'),
 'Apparel': Int64Index([90, 230, 339, 353, 447, 546, 574, 596, 682, 694, 725, 793, 876,
             881, 916],
            dtype='int64'),
 'Business Services': Int64Index([143, 185, 198, 203, 220, 247, 248, 293, 306, 311, 354, 391, 403,
             439, 466, 467, 480, 484, 491, 502, 544, 625, 634, 651, 676, 693,
             713, 728, 733, 734, 736, 743, 766, 775, 776, 782, 790, 791, 795,
             800, 802, 815, 818, 819, 868, 869, 885, 938, 950, 951, 992],
            dtype='int64'),
 'Chemicals': Int64Index([ 55, 100, 181, 188, 205, 252, 261, 276, 287, 295, 315, 537, 548,
             554, 565, 579, 612, 623, 653, 667, 716, 719, 723, 757, 760, 828,
             864, 897, 933, 948],
            dtype='int64'),
 'Energy': Int64Index([  1,  13,  29,  31,  41,  64,  89,  94,  97, 103,
             ...
             952, 954, 961, 965, 979, 980, 982, 994, 996, 997],
            dtype='int64', length=122),
 'Engineering & Construction': Int64Index([154, 155, 234, 259, 300, 313, 351, 380, 432, 477, 497, 500, 515,
             571, 575, 639, 718, 737, 821, 862, 873, 891, 928, 962, 984, 993],
            dtype='int64'),
 'Financials': Int64Index([  3,  15,  22,  25,  26,  28,  34,  39,  42,  48,
             ...
             919, 922, 924, 925, 935, 937, 958, 975, 987, 995],
            dtype='int64', length=139),
 'Food and Drug Stores': Int64Index([6, 16, 18, 86, 106, 159, 180, 594, 613, 630, 668, 755, 808, 848,
             927],
            dtype='int64'),
 'Food, Beverages & Tobacco': Int64Index([ 40,  43,  61,  65,  83,  93, 105, 148, 152, 160, 175, 206, 214,
             241, 265, 303, 335, 336, 361, 396, 412, 428, 451, 455, 459, 534,
             541, 566, 573, 586, 607, 614, 635, 663, 685, 701, 769, 786, 794,
             803, 888, 901, 953],
            dtype='int64'),
 'Health Care': Int64Index([  4,   5,  11,  20,  21,  32,  38,  45,  51,  54,  62,  71,  78,
              85, 122, 123, 124, 129, 137, 139, 140, 167, 171, 199, 200, 201,
             262, 267, 277, 285, 286, 289, 290, 304, 324, 357, 358, 371, 419,
             429, 430, 446, 456, 464, 468, 514, 526, 536, 552, 558, 582, 617,
             628, 660, 683, 692, 696, 707, 745, 748, 765, 774, 789, 798, 814,
             817, 844, 867, 880, 882, 934, 959, 964, 976, 977],
            dtype='int64'),
 'Hotels, Resturants & Leisure': Int64Index([108, 145, 194, 217, 240, 253, 308, 370, 443, 465, 533, 545, 556,
             561, 584, 730, 762, 763, 778, 796, 894, 914, 917, 940, 998],
            dtype='int64'),
 'Household Products': Int64Index([ 33, 150, 173, 255, 260, 327, 337, 344, 369, 433, 440, 449, 454,
             532, 549, 553, 600, 664, 698, 715, 855, 889, 899, 906, 931, 949,
             966, 991],
            dtype='int64'),
 'Industrials': Int64Index([ 10,  58,  74,  92,  96, 127, 133, 147, 210, 223, 359, 376, 395,
             411, 418, 538, 543, 595, 621, 622, 629, 644, 654, 657, 665, 673,
             689, 756, 781, 788, 805, 812, 822, 830, 831, 834, 840, 846, 865,
             866, 872, 886, 941, 946, 963, 999],
            dtype='int64'),
 'Materials': Int64Index([125, 126, 169, 243, 250, 302, 320, 340, 355, 372, 374, 382, 416,
             417, 425, 434, 445, 479, 488, 513, 517, 576, 585, 615, 616, 619,
             624, 627, 636, 638, 640, 659, 666, 686, 690, 750, 773, 792, 856,
             884, 910, 981, 985],
            dtype='int64'),
 'Media': Int64Index([ 52,  95,  98, 202, 212, 254, 326, 365, 405, 413, 524, 529, 680,
             704, 706, 721, 740, 751, 758, 761, 820, 912, 967, 968, 988],
            dtype='int64'),
 'Motor Vehicles & Parts': Int64Index([  7,   8,  69, 146, 153, 168, 280, 309, 333, 338, 423, 427, 469,
             587, 590, 603, 646, 669, 717, 738, 810, 956, 960, 978],
            dtype='int64'),
 'Retailing': Int64Index([  0,  14,  27,  37,  46,  70,  88, 102, 110, 131, 135, 138, 142,
             144, 176, 179, 190, 195, 196, 227, 233, 236, 237, 239, 257, 266,
             268, 279, 292, 296, 298, 301, 329, 341, 345, 360, 364, 373, 378,
             379, 392, 414, 426, 438, 494, 499, 501, 510, 511, 516, 522, 581,
             591, 601, 606, 609, 620, 642, 643, 647, 656, 674, 688, 720, 747,
             770, 772, 806, 811, 823, 824, 826, 839, 875, 893, 898, 921, 936,
             939, 972],
            dtype='int64'),
 'Technology': Int64Index([  2,  17,  19,  24,  30,  35,  50,  53,  76, 109,
             ...
             930, 942, 943, 945, 955, 969, 970, 974, 983, 989],
            dtype='int64', length=102),
 'Telecommunications': Int64Index([9, 12, 36, 115, 158, 186, 291, 332, 398, 442, 460, 495, 525, 618,
             785],
            dtype='int64'),
 'Transportation': Int64Index([ 47,  57,  66,  67,  79, 128, 141, 207, 238, 269, 352, 389, 394,
             404, 406, 415, 431, 458, 520, 527, 569, 577, 641, 671, 708, 712,
             739, 799, 813, 857, 883, 929, 932, 944, 971, 973],
            dtype='int64'),
 'Wholesalers': Int64Index([ 56,  63,  91, 101, 107, 118, 121, 166, 182, 184, 211, 275, 284,
             314, 316, 319, 322, 334, 350, 356, 368, 390, 422, 462, 473, 476,
             483, 563, 580, 598, 626, 652, 684, 726, 746, 779, 807, 836, 874,
             990],
            dtype='int64')}

In [30]:
sectors.get_group('Energy')

,Rank,Company,Industry,Location,Revenue,Profits,Employees
1,2,Exxon Mobil,Petroleum Refining,"Irving, TX",246204,16150,75600
13,14,Chevron,Petroleum Refining,"San Ramon, CA",131118,4587,61500
29,30,Phillips 66,Petroleum Refining,"Houston, TX",87169,4227,14000
31,32,Valero Energy,Petroleum Refining,"San Antonio, TX",81824,3990,10103
41,42,Marathon Petroleum,Petroleum Refining,"Findlay, OH",64566,2852,45440
...,...,...,...,...,...,...,...
980,981,WPX Energy,"Mining, Crude-Oil Production","Tulsa, OK",1958,-1727,1040
982,983,Adams Resources & Energy,Petroleum Refining,"Houston, TX",1944,-1,809
994,995,EP Energy,"Mining, Crude-Oil Production","Houston, TX",1908,-3748,665
996,997,Portland General Electric,Utilities: Gas and Electric,"Portland, OR",1898,172,2646
997,997,Portland General Electric,Utilities: Gas and Electric,"Portland, OR",1898,172,2646

In [83]:
df = pd.DataFrame()

In [89]:
# getting largest Revenue record from each sector
df = df.append([data.nlargest(1,'Revenue') for sector,data in sectors])

In [90]:
df

,Rank,Company,Sector,Industry,Location,Revenue,Profits,Employees
23,24,Boeing,Aerospace & Defense,Aerospace and Defense,"Chicago, IL",96114,5176,161400
90,91,Nike,Apparel,Apparel,"Beaverton, OR",30601,3273,62600
143,144,ManpowerGroup,Business Services,Temporary Help,"Milwaukee, WI",19330,419,27000
55,56,Dow Chemical,Chemicals,Chemicals,"Midland, MI",48778,7685,49495
1,2,Exxon Mobil,Energy,Petroleum Refining,"Irving, TX",246204,16150,75600
154,155,Fluor,Engineering & Construction,"Engineering, Construction","Irving, TX",18114,413,38758
3,4,Berkshire Hathaway,Financials,Insurance: Property and Casualty (Stock),"Omaha, NE",210821,24083,331000
6,7,CVS Health,Food and Drug Stores,Food and Drug Stores,"Woonsocket, RI",153290,5237,199000
40,41,Archer Daniels Midland,"Food, Beverages & Tobacco",Food Production,"Chicago, IL",67702,1849,32300
4,5,McKesson,Health Care,Wholesalers: Health Care,"San Francisco, CA",181241,1476,70400
108,109,McDonald’s,"Hotels, Resturants & Leisure",Food Services,"Oak Brook, IL",25413,4529,420000
33,34,Procter & Gamble,Household Products,Household and Personal Products,"Cincinnati, OH",78756,7036,110000
10,11,General Electric,Industrials,Industrial Machinery,"Fairfield, CT",140389,-6126,333000
125,126,Alcoa,Materials,Metals,"New York, NY",22534,-322,60000
52,53,Disney,Media,Entertainment,"Burbank, CA",52465,8382,185000
7,8,General Motors,Motor Vehicles & Parts,Motor Vehicles and Parts,"Detroit, MI",152356,9687,215000
0,1,Walmart,Retailing,General Merchandisers,"Bentonville, AR",482130,14694,2300000
2,3,Apple,Technology,"Computers, Office Equipment","Cupertino, CA",233715,53394,110000
9,10,AT&T,Telecommunications,Telecommunications,"Dallas, TX",146801,13345,281450
47,48,UPS,Transportation,"Mail, Package, and Freight Delivery","Atlanta, GA",58363,4844,341240
56,57,Sysco,Wholesalers,Wholesalers: Food and Grocery,"Houston, TX",48681,687,51700